---
layout: default
title: KClaiborne
---
<div class="posts">
    {% for post in paginator.posts %}
        <article>
            <header>
                <h1>
                    <a href="{{ post.url }}"  class="no-hover">{{ post.title }}</a>
                </h1>

                <span class="h2">{{ post.date | date: "%B %-d, %Y" }}</span>
            </header>

            <div class="post">
                {{ post.excerpt }}
                <a href="{{ post.url }}">Read More</a>
            </div>
        </article>
    {% endfor %}

    <div class="arrows">
        {% if paginator.next_page %}
            <!--<a href="/page{{ paginator.next_page }}"><img src="/images/previous-posts.png"/></a>-->
            <a href="/page{{ paginator.next_page }}"><i class="material-icons">skip_previous</i></a>
        {% endif %}

        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                <!--<a href="/"><img src="/images/next-posts.png"/></a>-->
                <a href="/"><i class="material-icons">skip_next</i></a>
            {% else %}
                <!--<a href="/page{{ paginator.previous_page }}"><img src="/images/next-posts.png"/></a>-->
                <a href="/page{{ paginator.previous_page }}"><i class="material-icons">skip_next</i></a>
            {% endif %}
        {% endif %}
    </div>
</div>
