<footer class="site-footer">
    <div class="wrapper">
        <h4 class="footer-heading">{{ site.data.global.title }}</h4>
        <div class="footer-fol-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    {% if site.data.global.email}
                    <li>
                        <a href="mailto:{{ site.data.global.email }}">
                        <span class="icon  gmail-icon">
                            <svg viewBox="0 0 16 16">
                                <path d="" fill="828282"/>
                            </svg>
                        </span>
                        <span class="email">{{ site.data.global.email }}</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if site.data.global.linkedin}
                    <li>
                        <a href="https://linkedin.com/{{ site.data.global.linkedin }}">
                        <span class="icon  linked-icon">
                            <svg viewBox="0 0 16 16">
                                <path d="" fill="828282"/>
                            </svg>
                        </span>
                            <span class="email">{{ site.data.global.linkedin }}</span>
                        </a>
                    </li>
                    {% endif %}

                    {% if site.data.global.github}
                    <li>
                        <a href="https://github.com/{{ site.data.global.github }}">
                        <span class="icon  github-icon">
                            <svg viewBox="0 0 16 16">
                                <path d="" fill="828282"/>
                            </svg>
                        </span>
                            <span class="email">{{ site.data.global.github }}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </h5div>
        <div class="footer-col footer-col-2">
            <p class="text">{{ site.data.global.description }}</p>
        </div>
    </div>
</footer>