<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<div class="page-container">
<div class="nav-wrapper">
    <div class="nav">
        <a href="/">Home</a>
        <a href="/">About</a>
        <a href="/blog.html">Writings</a>
        <a href="/resume.html">Portfolio</a>
    </div>
</div>
<div class="top">
    <main>
        <div class="container">
            <div class="main">
                {{ content }}
            </div>
        </div>
    </main>
</div>

{% include footer.html %}
</div>
<script type="text/javascript">
<!--Movable Navigation Bar-->
    $(document).ready(function(){
        $(window).bind('scroll', function(){
            /*var distance = $(window).height();*/
            var distance = 5;
            if($(window).scrollTop() >= (distance)){
                $('.nav').addClass('scrolled');
            } else{
                $('.nav').removeClass('scrolled');
            }
        });
    });
</script>

</body>
</html>