<!DOCTYPE html>

<html lang="en">
<head>
    <title>Kendra Claiborne</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="icon" type="image/png" href="/images/favicon.png" sizes="16x16">
    <link rel="stylesheet" href="/css/resume.css" type="text/css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!--Javascript-->
    <script src="/javascript/scale.fix.js"></script>
</head>

<body>
<section id="page-header">
    <header>
        <h1>Kendra Claiborne</h1>
        <div class="row-horizontal">
            <div class="col-line centered h1-underline"></div>
        </div>
        <h2>Developer</h2>
        <h3>Made in NY</h3>
    </header>
    <div class="nav-wrapper">
        <div class="nav">
            <!-- The content between <span> </span> tags will be hidden on mobile version -->
            <ul>
                <li class=""><a href="#skills">Ski<span>lls</span></a></li>
                <li class=""><a href="#experience">Exp<span>erience</span></a></li>
                <li class=""><a href="#portfolio">Por<span>tfolio</span></a></li>
                <li class=""><a href="#education">Edu<span>cation</span></a></li>
                <li class=""><a href="#contact">Con<span>tact</span></a></li>
            </ul>
        </div>
    </div>
</section>

<!--RESUME SUB-SECTIONS-->
<section id="skills" class="page-content">
    <div class="container">
        <header>
            <h1>Technical Skills</h1>
            <div class="h1-underline"></div>
        </header>
        <article>
            <div class="row-skills">
                <div class="col-skills">
                    <div class="skill-container">
                        <!--<div class="skill-level-hover-content">Intermediate</div>-->
                        <div class="skill-level-1 skill-level-color-1"></div>
                        <div class="skill-level-2 skill-level-color-1"></div>
                        <div class="skill-level-3 skill-level-color-2"></div>
                    </div>
                    <div class="text-center">Java</div>
                </div>

                <div class="col-skills">
                    <div class="skill-container">
                        <!--<div class="skill-level-hover-content">Intermediate</div>-->
                        <div class="skill-level-1 skill-level-color-1"></div>
                        <div class="skill-level-2 skill-level-color-1"></div>
                        <div class="skill-level-3 skill-level-color-2"></div>
                    </div>
                    <div class="text-center">Salesforce</div>
                </div>

                <div class="col-skills">
                    <div class="skill-container">
                        <!--<div class="skill-level-hover-content">Beginner</div>-->
                        <div class="skill-level-1 skill-level-color-1"></div>
                        <div class="skill-level-2 skill-level-color-2"></div>
                        <div class="skill-level-3 skill-level-color-2"></div>
                    </div>
                    <div class="text-center">Javascript</div>
                </div>

                <div class="col-skills">
                    <div class="skill-container">
                        <!--<div class="skill-level-hover-content">Beginner</div>-->
                        <div class="skill-level-1 skill-level-color-1"></div>
                        <div class="skill-level-2 skill-level-color-2"></div>
                        <div class="skill-level-3 skill-level-color-2"></div>
                    </div>
                    <div class="text-center">SQL</div>
                </div>

                <div class="col-skills">
                    <div class="skill-container">
                        <!--<div class="skill-level-hover-content">Beginner</div>-->
                        <div class="skill-level-1 skill-level-color-1"></div>
                        <div class="skill-level-2 skill-level-color-2"></div>
                        <div class="skill-level-3 skill-level-color-2"></div>
                    </div>
                    <div class="text-center">HTML</div>
                </div>

                <div class="col-skills">
                    <div class="skill-container">
                        <!--<div class="skill-level-hover-content">Beginner</div>-->
                        <div class="skill-level-1 skill-level-color-1"></div>
                        <div class="skill-level-2 skill-level-color-2"></div>
                        <div class="skill-level-3 skill-level-color-2"></div>
                    </div>
                    <div class="text-center">CSS</div>
                </div>
            </div>
        </article>
    </div>
</section>

<section id="experience" class="page-content">
    <div class="container">
        <header>
            <h1>Experience</h1>
            <div class="h1-underline"></div>
        </header>
        <article>
            <h1>Junior Salesforce Developer</h1>
            <div class="text-center col-bottom-spacing">
                <strong>Apex</strong>
                <span class="blue">&nbsp;&#124;&nbsp;</span>
                <strong>Visualforce</strong>
                <span class="blue">&nbsp;&#124;&nbsp;</span>
                <strong>Data Migration</strong>
                <span class="blue">&nbsp;&#124;&nbsp;</span>
                <strong>Integeration</strong>
                <span class="blue">&nbsp;&#124;&nbsp;</span>
                <strong>Sales Cloud</strong>
                <span class="blue">&nbsp;&#124;&nbsp;</span>
                <strong>Service Cloud</strong>
            </div>
            <div class="col-experience-container">
                <div class="col-experience text-center col-bottom-spacing">
                    <strong>Who:</strong> Huron Consulting Group
                </div>
                <div class="col-experience text-center col-bottom-spacing">
                    <strong>When:</strong> July 2015 - Present
                </div>
            </div>
            <div class="text-center col-width">Design, implementation, deployment and documentation of scalable and efficient cloud based solutions for clients on the SalesForce.com platform. Leverage the functionalities of the platform, implement client business processes, and provide custom implementations utilizing the Salesforce programmatic tools (Apex, Visualforce, SOQL, Force.com REST API and 3rd Party APIs) and declarative features (Workflows, Visual Flows and Process Builder) .</div>

            <div class="job-separator"></div>

            <h1>Global Service Desk Technician</h1>
            <div class="text-center col-bottom-spacing">
                <strong>Technical Support</strong>
                <span class="blue">&nbsp;&#124;&nbsp;</span>
                <strong>Documentation</strong>
            </div>
            <div class="col-experience-container">
                <div class="col-experience text-center col-bottom-spacing">
                    <strong>Who:</strong> Yahoo!
                </div>
                <div class="col-experience text-center col-bottom-spacing">
                    <strong>When:</strong> May 2012 - November 2013
                </div>
            </div>
            <div class="text-center col-width">Delivered technical support to internal employees to resolve software, hardware and network issues through remote communication (phone, live chat and email) on a wide array of platforms (Windows 7/XP, Mac OS X, Unix, Linux, Virtual Machines and iOS/Android devices.</div>
        </article>
    </div>

</section>

<section id="portfolio" class="page-content">
    <div class="container">
        <header>
            <h1>Portfolio</h1>
            <div class="h1-underline"></div>
        </header>
        <article>
            <div class="flex-container">
                <ul class="types">
                    <li data-filter="work">Work</li>
                    <li data-filter="personal">Personal</li>
                </ul>
            </div>

            <div class="inner-container">
                <article class="work-post" data-cat="work">

                    <div class="row">
                        <div class="inner-row-left spacing">
                            <h3>Restaurant Chain</h3>
                        </div>
                        <div class="inner-row-right spacing">
                            <p>Led the configuration, design and implementation of a one way integration from the client's legacy systems to Salesforce.com to create a 360 degree view of customer account information, orders and surveys on the Sales Cloud platform.<br/><br/>
                                <i><strong>Results:</strong></i> Improved the accessibility of customer and order data from three external applications into one application.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="inner-row-left spacing">
                            <h3>Commerical & Residential Construction Manufacturer</h3>
                        </div>
                        <div class="inner-row-right spacing">
                            <p>Developed a custom Visualforce page to automate the client's existing process of creating and editing Order Adjustments. The custom implementation allowed users to dynamically interact with the page, displayed computational data based on pre-defined formulas and the user's input, and ensured bulk friendliness.<br/><br/>
                                <i><strong>Results:</strong></i> Streamlined the client’s business process within Salesforce.com while expanding on the capabilities of the custom object's standard New and Edit buttons.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="inner-row-left spacing">
                            <h3>Hospitality Software & Solutions</h3>
                        </div>
                        <div class="inner-row-right spacing">
                            <p>Provided data modeling, data integration, and custom automation through Apex Triggers for a new Salesforce.com Service Cloud implementation.<br/><br/>
                                <i><strong>Results:</strong></i> Automated the one-way integration of Accounts from NetSuite to Salesforce.com. Replicated the client's customer hierarchy schema with Salesforce's out-of-the-box Account object and Apex Trigger.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="inner-row-left spacing">
                            <h3>Higher Education</h3>
                        </div>
                        <div class="inner-row-right spacing inner-row-right-last">
                            <p>Implemented a Salesforce Trigger for Lead Conversion, custom Trigger for the upsert of Opportunities based on clients requirements and developed a Jitterbit integration that called an existing Web Service to automate the integration of prospective and existing students from an external application into Salesforce Leads, Contacts, Accounts and Opportunities.<br/><br/>
                                <i><strong>Results:</strong></i> Redesigned and simplified the automation of student data from the client's external student database to Salesforce using the Jitterbit Web Service process and custom Apex Code that was triggered from the upsert of objects via the Jitterbit integration. The integration allowed the client to streamline their student lead conversion process for prospective students and a granular view of the amount of prospective students flowing into their system.
                            </p>
                        </div>
                    </div>
                </article>

                <article class="personal-post" data-cat="personal">
                    <div class="row">
                        <div class="inner-row-left spacing">
                            <h3>Technical Blog Site</h3>
                        </div>
                        <div class="inner-row-right spacing">
                            <p>Personal tech blog site where I publish posts on technical work that I've done in the past, or am currently working on.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="inner-row-left spacing">
                            <h3>GDI Hacks 2016 1st Place Winner</h3>
                        </div>
                        <div class="inner-row-right spacing inner-row-right-last">
                            <p>Participated in an all-women 12 hour hackathon by Girl Develop It Buffalo where my team designed and developed a website for a locally owned business to help improve their online presence.<br/><br/>
                                <i><strong>Results:</strong></i> The team developed a new WordPress site from scratch during the duration of 12 hours. The client wanted the ability to allow site visitors to subscribe to their existing subscription list, an e-commerce store, and a showcase of the charity work they've done via WordPress pages and posts. The team provided all the client's needs, as well as placed first in the entire hackathon.
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </article>
    </div>
</section>

<section id="education" class="page-content">
    <div class="container">
        <header>
            <h1>Education</h1>
            <div class="h1-underline"></div>
        </header>
        <article>
            <div class="inner-container">
                <h1>State University of New York at Buffalo</h1>
                <h2>Bachelor of Science Degree in Computer Science</h2>
                <h3><strong>Graduated:</strong> May 2016</h3>
            </div>
        </article>
    </div>
</section>

<section id="contact" class="page-content">
    <div class="container">
        <header>
            <h1>Get In Touch</h1>
            <div class="h1-underline"></div>
        </header>
        <article>
            <form id="contactform" class="cf" method="post" action="https://formspree.io/kendrasclaiborne@gmail.com">
                <div class="half left cf">
                    <input type="name" id="input-name" placeholder="Name" name="name" required>
                    <input type="email" id="input-email" placeholder="Email Address" name="email" required>
                    <input type="text" id="input-subject" placeholder="Subject" name="subject" required>
                </div>
                <div class="half right cf">
                    <textarea name="message" type="text" id="input-message" placeholder="Message" required></textarea>
                </div>
                <input type="submit" value="Let's Connect" id="input-submit">
                <input type="hidden" name="_next" value="/thanks.html" />
            </form>

            <div class="printable-resume">
                <a href="#">Click here for my printable resume</a>
            </div>
        </article>
</section>

<!--<footer>
    <div class="printable-resume">
        <a href="#">Click here for my printable resume</a>
    </div>
</footer>-->

<script>
    var contactform =  document.getElementById('formaction');
    contactform.setAttribute('action', '//formspree.io/' + 'kendrasclaiborne' + '@' + 'gmail' + '.' + 'com');
</script>

<script type="text/javascript">
<!--Javascript - Filter through Portfolio-->
    var workposts = $('.work-post');
    var personalposts = $('.personal-post');
    personalposts.hide();
    $(".types li:first-child").addClass("coral")

    // Click function
    $( ".types li" ).click(function() {

        $(".types li.coral").removeClass('coral');
        $(this).addClass('coral');

        // Get data of category
        var customType = $( this ).data('filter'); // category
        console.log(customType);
        console.log(workposts.length); // Length of articles

        workposts
            .hide()
            .filter(function () {
                return $(this).data('cat') === customType;
            })
            .show();

        personalposts
            .hide()
            .filter(function () {
                return $(this).data('cat') === customType;
            })
            .show();
    });
</script>

<script type="text/javascript">
<!--Movable Navigation Bar-->
    $(document).ready(function(){
        $(window).bind('scroll', function(){
            var distance = $(window).height();
            if($(window).scrollTop() >= (distance - 60)){
                $('.nav').addClass('scrolled');
            } else{
                $('.nav').removeClass('scrolled');
            }
        });
    });
</script>

</body>
</html>